%fieldset
  = f.text_field :name, type: 'text', placeholder: 'Name of home'
  = f.text_field :homesuburb_name, type: 'text', placeholder: 'Name of suburb/town/city'

%fieldset
  - HomeType.all.each do |ht|
    %p
      = f.radio_button :home_type_id, ht.id
      = f.label :home_type_id, ht.name

%fieldset
  = f.label :is_public
  = f.check_box :is_public, label: 'Public?'
